* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    background-color: antiquewhite;
    width: 80%;
    height: 350px;
    margin: 30px auto;
}

div ul li {
    display: flex;
}

div ul li p {
    padding: 10px;
}